<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="index/header2::header2(${article.title},null)"></div>

<body>
<!--背景动画-->
<canvas id="c_n9" width="1920" height="990"
        style="position: fixed; top: 0px; left: 0px; z-index: -1; opacity: 0.5;"></canvas>
<script src="/codingLife/canvas-nest.min.js.下载"></script>
<canvas id="c_n4" width="1037" height="920"
        style="position: fixed; top: 0px; left: 0px; z-index: -1; opacity: 0.5;"></canvas>
<div class="am-u-sm-12 am-u-lg-2 am-hide-md-down">
    <div class="toc">

    </div>
</div>
</div>
<article class="main-content post-page">
    <div class="post-header">
        <h1 class="post-title" itemprop="name headline" th:text="${article.title}"></h1>
        <div class="post-data">
            <div itemprop="datePublished"
                 th:text="'发布于 '+ ${#dates.format(article.created,'yyyy-MM-dd HH:mm:ss')}"></div>
            阅读数：<span th:text="${article.hits}"></span>&nbsp;评论数：<span th:text="${article.commentsNum}"></span>
        </div>
    </div>
    <div id="post-content" class="post-content" th:utext="${commons.article(article.content)}"></div>
</article>

<div th:replace="index/comments::comments"></div>

</div>

</div>

<div th:replace="index/footer2::footer2"></div>

</body>
<script>hljs.initHighlightingOnLoad();</script>
<script>
    //为各级标题 自动 生成id属性
    $(document).ready(function () {


//为各级标题 自动 生成id属性


        $("h2,h3,h4").each(function () {


            //设置成中文无法跳转

            $(this).attr('id', Math.random());


        });


//初始化 toc 内容


        tocbot.init({


            tocSelector: '.toc', // 放置 toc 内容的容器


            contentSelector: '.post-content', // markdown  文档内容所在


            headingSelector: 'h2, h3', // 需要索引的标题级别


            positionFixedSelector: ".toc" //将 toc 内容块位置固定。


        });

    });


</script>

<style>
    .toc {
        top: 100px;
    }




</style>
</html>